<% if logged_in? %>
  <script type="text/javascript">

    window.currentUser = {
      "id": "<%= current_user.id %>",
      "first_name": "<%= current_user.first_name %>",
      "last_name": "<%= current_user.last_name %>"
    };

    window.sessionId = <%= current_user.id %>
  </script>
<% end %>
<script type="text/javascript">
  window.images = {
    defaultPic: "<%=asset_path('default_pic.png')%>",
    logo: "<%=asset_path('logo.png')%>"
  }
</script>

<div id="root">
  Static Root :)
</div>
