<!DOCTYPE html>
<html>
  <head>
    <title>Hotspots</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCfXhaIE3Pc4A268mHV2WwwAyT6AeHDcgg" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
